<div class='cff-html5-video'>
    <a href='javascript:void(0);' class='cff-html5-play' style='display: none;'>
        <i class='fa fa-play cff-playbtn'></i>
    </a>
    <video src='{{data-source}}' poster='{{data-picture}}' style='width:100%' controls='controls'>
        <a title='View' class='cff-vidLink' href='{{data-link}}' target='_blank'>
            <i class='fa fa-play cff-playbtn'></i>
            <img class='cff-poster' src='{{data-picture}}' alt='View'>
        </a>
    </video>
</div>