<div class='eff-panel'>

    <div class='eff-panel-heading'>
        <img src='{{page-cover-source}}' alt='{{data-from-name}}'>
        <a href='{{page-link}}' target='_blank' title="{{data-from-name}}"> {{data-from-name}} </a>
    </div>

    <div class='eff-panel-body'>
        <p>{{data-message}}</p>
        {{data-content}}
    </div>

    <div class='eff-panel-footer'>
        <div class='eff-time'>{{data-created_time}}</div>
        <div class='eff-view'>
            <a href='{{data-link}}' class='eff-pull-right' target='_blank'>{{link-text}}</a>
        </div>
    </div>

</div>
